extends content-template

block vars

  - var title = 'Florian J. Breunig'


block background-wrap

  .background-wrap.resize


block content

  .panel

    .panel-heading(itemscope, itemtype='http://data-vocabulary.org/Person')

        h1(itemprop='name') Florian J. Breunig

        h2 Information Technologist, 
            span(itemprop='title') Software&nbsp;Architect
            |.
        h2
            span(itemprop='address', itemscope, itemtype='http://data-vocabulary.org/Address')
                span(itemprop='locality') Munich
                |, 
                span(itemprop='region') Germany
                |.

  .panel

    .panel-body

      h3 You might know me from

      .row
        .col-lg-2
          a(href='https://www.hackerschool.com', onclick!='trackOutboundLink(\'https://www.hackerschool.com\'); return false;')
            img(src='#{url}/img/icon-hackerschool.png', alt='Hacker School', width=32, height=32)
        .col-lg-4
          a(href='https://www.hackerschool.com', onclick!='trackOutboundLink(\'https://www.hackerschool.com\'); return false;')
            | Hacker School, 2014

      .row
        .col-lg-2
          a(href='https://www.lendstar.io', onclick!='trackOutboundLink(\'https://www.lendstar.io\'); return false;')
            img(src='#{url}/img/icon-lendstar.png', alt='Lendstar', width=32, height=32)
        .col-lg-4
          a(href='https://www.lendstar.io', onclick!='trackOutboundLink(\'https://www.lendstar.io\'); return false;')
            | Lendstar, 2013&ndash;present

      .row
        .col-lg-2
          a(href='https://www.tu-darmstadt.de', onclick!='trackOutboundLink(\'https://www.tu-darmstadt.de\'); return false;')
            img(src='#{url}/img/icon-tu-darmstadt.png', alt='TU Darmstadt', width=32, height=32)
        .col-lg-4
          a(href='https://www.tu-darmstadt.de', onclick!='trackOutboundLink(\'https://www.tu-darmstadt.de\'); return false;')
            | TU Darmstadt, 2003&ndash;2009

      .row
        .col-lg-2
          a(href='https://www.ntnu.edu', onclick!='trackOutboundLink(\'https://www.ntnu.edu\'); return false;')
            img(src='#{url}/img/icon-ntnu-trondheim.png', alt='NTNU Trondheim', width=32, height=32)
        .col-lg-4
          a(href='https://www.ntnu.edu', onclick!='trackOutboundLink(\'https://www.ntnu.edu\'); return false;')
            | NTNU Trondheim, 2006&ndash;2007

  .panel

    .panel-body

        h3 or elsewhere

        .row
          .col-lg-2
            a(href='https://www.last.fm/user/my-flow', onclick!='trackOutboundLink(\'https://www.last.fm/user/my-flow\'); return false;')
              img(src='#{url}/img/icon-last-fm.png', alt='last.fm', width=32, height=32)
          .col-lg-4
            a(href='https://www.last.fm/user/my-flow', onclick!='trackOutboundLink(\'https://www.last.fm/user/my-flow\'); return false;')
              | Music on Last.fm

        .row
          .col-lg-2
            a(href='https://soundcloud.com/my-flow', onclick!='trackOutboundLink(\'https://soundcloud.com/my-flow\'); return false;')
              img(src='#{url}/img/icon-soundcloud.png', alt='Soundcloud', width=32, height=32)
          .col-lg-4
            a(href='https://soundcloud.com/my-flow', onclick!='trackOutboundLink(\'https://soundcloud.com/my-flow\'); return false;')
              | Audio on Soundcloud

        .row
          .col-lg-2
            a(href='https://plus.google.com/+FlorianJBreunig', onclick!='trackOutboundLink(\'https://plus.google.com/+FlorianJBreunig\'); return false;')
              img(src='#{url}/img/icon-google-plus.png', alt='LinkedIn', width=32, height=32)
          .col-lg-4
            a(href='https://plus.google.com/+FlorianJBreunig', rel='me', onclick!='trackOutboundLink(\'https://plus.google.com/+FlorianJBreunig\'); return false;')
              | Profile on Google Plus

        .row
          .col-lg-2
            a(href='https://www.linkedin.com/in/florianjbreunig', onclick!='trackOutboundLink(\'https://www.linkedin.com/in/florianjbreunig\'); return false;')
              img(src='#{url}/img/icon-linked-in.png', alt='LinkedIn', width=32, height=32)
          .col-lg-4
            a(href='https://www.linkedin.com/in/florianjbreunig', onclick!='trackOutboundLink(\'https://www.linkedin.com/in/florianjbreunig\'); return false;')
              | Profile on LinkedIn

        .row
          .col-lg-2
            a(href='https://www.github.com/my-flow', onclick!='trackOutboundLink(\'https://www.github.com/my-flow\'); return false;')
              img(src='#{url}/img/icon-github.png', alt='GitHub', width=32, height=32)
          .col-lg-4
            a(href='https://www.github.com/my-flow', onclick!='trackOutboundLink(\'https://www.github.com/my-flow\'); return false;')
              | Repositories on GitHub

        .row
          .col-lg-2
            a(href='http://instagram.com/myflowcom', onclick!='trackOutboundLink(\'http://instagram.com/myflowcom\'); return false;')
              img(src='#{url}/img/icon-instagram.png', alt='Instagram', width=32, height=32)
          .col-lg-4
            a(href='http://instagram.com/myflowcom', onclick!='trackOutboundLink(\'http://instagram.com/myflowcom\'); return false;')
              | Photos on Instagram


  .panel.hidden-print

      #loading-lifestream.show

          em.panel-heading.fa.fa-spinner.fa-spin

      #hidden-lifestream.panel-body.hidden

          h3 Lifestream

          #lifestream